.side-panel 
{
  width: 60px;  /* Adjust width as needed */
  height: 100vh;
  background-color: #2f3136;  /* Dark background similar to Discord */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  padding-bottom: 20px;
}

.icon-container 
{
  display: flex;
  flex-direction: column;
  gap: 20px; 
  overflow-y: auto;
  flex-grow: 1; 
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Edge */
.icon-container::-webkit-scrollbar 
{
  display: none;
}

.icon 
{
  width: 50px;
  height: 50px;
  background-color: #36393f;  /* Icon background */
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;  /* Rounded corners */
  cursor: pointer;
}

.icon:hover 
{
  background-color: #5865f2;  /* Discord-like hover effect */
}

.settings-icon 
{
  margin-top: auto; /* Pushes the icon to the bottom */
  margin-bottom: 10px; /* Add margin at the bottom to prevent clipping */
}